{% extends 'base.html' %}

{% block title %}
Cart
{% endblock %}
{%block css %}
    <style>
     
        .cartImg{
          width: 150px;
         height: 150px;
          }

     
    </style>
{% endblock%}
{% block body %}
    <div class='container'>
        <ol class="list-unstyled">
          <span id='allCart' class='allCart'>
            <li class="media">
              <div class="card align-items-center mx-3" style="width: 18rem;">
                <img src="#" class="card-img-top cartImg" alt="...">
                <div class="card-body">
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
              <div class="media-body">
                <a href="/ecomm/productPage/{{item.product_data.id}}"><h5 class="mt-0 mb-1" id={{item.product_data.id}}>{{item.product_data.product_name}}</h5></a>
                {{item.product_data.product_description|truncatechars:500}}
              </div>
            </li>
            <br><br>
          </span>
        </ol>
    </div>
{% endblock %}
 {% block js%}
    <script>
      var cart=JSON.parse(sessionStorage.getItem('cartData'))
      console.log(cart)
      sessionStorage.removeItem('cartData')
      displayCart=""
      for (item in cart){
        displayCart=displayCart+"<li class='media'"+item['product_data']['id']+"'><div class='card align-items-center mx-3' style='width: 18rem;'> <img src='/media/"+item['product_data']['product_image']+"' class='card-img-top cartImg'><div class='card-body'><a href='#' class='btn btn-primary"+item['product_data']['product_image']+"'>Go somewhere</a></div></div><div class='media-body'><a href='/ecomm/productPage/"+item['product_data']['id']+"'><h5 class='mt-0 mb-1' id='"+item['product_data']['id']+"'>{{item.product_data.product_name}}</h5></a>'"+item['product_data']['product_description']+"'</div></li>"
      }
      document.getElementById('allCart').innerHTML=displayCart 
    </script>
 {% endblock %}